.header{
    position: relative;
    display: flex;
    justify-content: space-between;
    background-color: rgb(180 83 9);
    margin: 10px;
    border: 1px solid black;

}

.nave-items > ul{
    list-style-type: none;    /* i want to delete the small dots*/
    display: flex;
}
.nave-items > ul >li{
    padding: 20px;
    color: #ffff;
    
}

.logo{
    width: 70px;
    margin: 10px 10px ;
}




.Card{
    width: 170px;
    border: 2px solid orangered;
    background-color: powderblue;
    border-radius: 10px 10px 10px 10px;
    cursor: pointer;
    margin-top: 20px;
    border: 1px solid black;
}
.Card >img{
     width: 100%;
     border-top-left-radius: 9px;
     border-top-right-radius: 9px;
}

.Restrau-list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;


   
}