.header{
    position: relative;
    display: flex;
    justify-content: space-between;
    background-color: rgb(79 70 229);
    margin: 10px;

}

.nave-items ul{
    list-style-type: none;
    display: flex;
}
.nave-items > ul >li{
    padding: 20px;
    
}

.icon-name img{
    width: 50px;
    border-radius: 50px;

}
.Logo{
    
    background-image: url(./img/logo.png)
}

.icon-name{
    display: flex;
    justify-content:space-between;
 
}

.Card{
    width: 200px;
    border: 2px solid orangered;
    background-color: powderblue;
    border-radius: 10px 10px 10px 10px;
    cursor: pointer;
    margin-top: 20px;
}
.Card >img{
     width: 100%;
     border-top-left-radius: 9px;
     border-top-right-radius: 9px;
}

.Restrau-list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;


   
}